<sidenavleft></sidenavleft>
<md-toolbar md-whiteframe="2">
    <div class="md-toolbar-tools">
        <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Settings"
                ng-click="toggleLeft()">
            <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
            <div class="md-ripple-container"></div>
        </button>
        <img src="img/logo.svg" width="150"/>
        <div hide="" show-gt-sm="" flex="" class="hide show-gt-sm flex">

            <span>Online salary manager</span>
            <span flex="" class="flex"></span>

            <button class="md-accent md-button md-raised" type="button"
                    aria-label="Create import"><span
                    class="ng-scope">Create import</span></button>

        </div>
        <span flex="" class="flex"></span>

        <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="More" ng-click="close('/login')">
            <md-icon aria-label="Menu" class="material-icons">more_vert</md-icon>
            <div class="md-ripple-container"></div>
        </button>
    </div>
</md-toolbar>

<md-chips>

    <md-chip>Admin</md-chip>
    <md-chip>Dashboard</md-chip>
</md-chips>

<md-content class="md-padding layout-xs-column layout-row" layout-xs="column" layout="column">


    <md-card flex-xs="50" flex-gt-xs="50" layout="row" class="layout-column flex-xs flex-gt-xs-50">
        <md-card-title-text>
            <span class="md-headline">Customers</span><br/>
            <span class="md-subhead">view all customers in sal.yo</span>

        </md-card-title-text>
    </md-card>
    <md-card flex-xs="50" flex-gt-xs="50" layout="row" class="layout-column flex-xs flex-gt-xs-50">
        <md-card-title-text>
            <span class="md-headline">Sheduler</span><br/>
            <span class="md-subhead">view all imports in sal.yo</span>

        </md-card-title-text>
    </md-card>

</md-content>
